
<script>

  $(function(){
    $(".showtime").hide();
    //为本人
    var dialog = jDialog.confirm('<a style="color:green;margin-left:28px;font-size:28px;"><font face="华文行楷">你是真的<a style="color:red;font-size:35px;">小敏?</a></font></a>',{
    handler : function(button,dialog) {
      $(".showtime").show(3000);
      $("#show_color").html("<%= j(render :partial => "show_color")%>");
      dialog.close();
    }
  },
  //不为本人
  {
    handler : function(button,dialog) {
      dialog.close();

      //喜欢
      var dialog2 = jDialog.confirm2('<a style="color:green;margin-left:20px;font-size:28px;"><font face="华文行楷">那你喜欢<a style="color:red;font-size:35px;">小敏?</a></font></a>',{
      handler : function(button,dialog) {
        dialog2.close();
        var dialog4 = jDialog.confirm3('<a style="color:red;margin-left:20px;font-size:28px;"><font face="华文行楷">你的性别?</font></a>',{
        handler : function(button,dialog) {
          dialog4.close();
          var dialog5 = jDialog.message('<div><img src="assets/zaijian.jpg" width=280></img></div><div><a style="color:red;margin-left:20px;font-size:28px;"><font face="华文行楷">你已经被我拉进<<情敌消灭计划>></br>两包老鼠药已到家门口</font></a><br><a>如有疑问,请致电10086,最终解释权归最高人民法院所有</a></div>',{
          handler : function(button,dialog) {
          }
        });
      }
      },{
      handler : function(button,dialog) {
        dialog4.close();
        var dialog6 = jDialog.message('<div><img src="assets/zaijian.jpg" width=280></img></div><div><a style="color:red;margin-left:20px;font-size:28px;"><font face="华文行楷">你已经被我拉进<<情敌消灭计划>></br>两包老鼠药已到家门口</font></a><br><a>如有疑问,请致电10086,最终解释权归最高人民法院所有</a></div>',{
        handler : function(button,dialog) {
        }
      });
    }
  }
  );
}
      },
      //不喜欢
      {
        handler :function(dialog){
          //不喜欢 << 弹出图片
          dialog2.close();
          var dialog3 = jDialog.message('<div><img src="assets/zaijian.jpg" width=280></img></div><div><a style="color:red;margin-left:20px;font-size:28px;"><font face="华文行楷">你已经被我拉进<<情敌消灭计划>></br>两包老鼠药已到家门口</font></a><br><a>如有疑问,请致电10086,最终解释权归最高人民法院所有</a></div>',{
          handler : function(button,dialog) {
          }
        });
      }
    }
    );
    //dialog.close();
  }
});
});

  </script>

  <div class="color"style="margin-left:350px;top:20px;" id="show_color">
  </div>


