
<body onLoad= "marquee()">
  <div class="color"style="opacity:0.45;background:;">
    <form name="show" style="margin-left:400px;margin-top:50px;">
      <textarea rows=25 cols=60 wrap="virtual" name="marquee1" style="color:red;"></textarea>
    </form>
  </div>
</body>

<script>
<!--
var i = 0
var showString= "见到你的第一面起"
	+	"今天我们来到了世界浪漫之都巴黎，在异国它乡，我们第一次找到了真爱！"
	+	"Get more easy to use yet powerful and useful JavaScripts at my website.  You will be "
	+	"transfered in a few seconds."
function marquee()
{
var stringLength= showString.length
document.show.marquee1.value= document.show.marquee1.value + showString.charAt(i)
i++
var timeID= setTimeout("marquee()",10)
if (i >= stringLength)
{
  clearTimeout(timeID); i=0; 
//location.href="http://www.baidu.com"
}
}

//-->
</script>
