
  <script>

    $(function(){
          $(".showtime").hide();
      var dialog = jDialog.confirm('你是小星星吗?',{
        handler : function(button,dialog) {
          $(".showtime").show(3000);
          $("#show_color").html("<%= j(render :partial => "show_color")%>");
          dialog.close();
        }
        },{
        handler : function(button,dialog) {
          alert('你点击了取消！');
          //dialog.close();
        }
      });
    });
  
  </script>
<div class="showtime" id="showtime">
  <h4 id="showtimes"> </h4>
  <h3 id="showday"> </h3>
  <h2 id="showhours"> </h2>
  <a id="showmini" > </a>
</div> 


<div class="color"style="margin-left:350px;top:200px;" id="show_color">


</div>


