
<div class="color">

<style type="text/css">
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";background-color:#F1F1F1;}
/* wide-wrapper */
#header{width:280px;margin:0px auto;padding-top:75px;}
#carousel{width:870px;height:450px;margin:0px auto;padding:0px;}
#carousel{list-style:none;padding:0px;}
#carousel li{float:left;}
#carousel .tooltip, #carousel .bigImage, #carousel .title, #carousel .description{position:absolute;left:-9999px;}
</style>
<script type="text/javascript" src="/assets/jquery.carousel.min.js"></script>
<script>

$(document).ready(function($){

	$('#carousel').carousel({
		width: 870, 
		height: 350, 
		itemWidth:120, 
		horizontalRadius:270, 
		verticalRadius:85, 
		resize:false, 
		mouseScroll:false, 
		mouseDrag:true, 
		scaleRatio:0.4, 
		scrollbar:true, 
		tooltip:true, 
		mouseWheel:true, 
		mouseWheelReverse:true
	});
});
</script>

<div id="wide-wrapper" style="margin-left:200px;">
	
		<div id="header">
		</div>
	
		<ul id="carousel">
			<li>
				<img src="/assets/image1.jpg" alt=""/>
				<div class="tooltip">你说你喜欢花</div>
			</li>
            <li><img src="/assets/image2.jpg" alt=""/>
				<div class="tooltip">红的，白的，蓝的，紫的</div>
            </li>
            <li><img src="/assets/image3.jpg" alt=""/>
				<div class="tooltip">各种各样</div>
            </li>
			<li>
				<img src="/assets/image4.jpg" alt=""/>
				<div class="tooltip">不明白你为什么这么喜爱</div>
			</li>
            <li><img src="/assets/image5.jpg" alt=""/>
				<div class="tooltip">但是在心里默默决定</div>
            </li>
            <li><img src="/assets/image6.jpg" alt=""/>
				<div class="tooltip">以后带你去看世界上最漂亮的地方看花</div>
            </li>
			<li>
				<img src="/assets/image7.jpg" alt=""/>
				<div class="tooltip">你还说你喜欢旅游</div>
			</li>
            <li><img src="/assets/image8.jpg" alt=""/>
				<div class="tooltip">我对自己说</div>
            </li>
            <li><img src="/assets/image9.jpg" alt=""/>
				<div class="tooltip">一定要努力挣钱</div>
            </li>
			<li>
				<img src="/assets/image10.jpg" alt=""/>
				<div class="tooltip">带你走遍全世界</div>
			</li>
            <li><img src="/assets/image11.jpg" alt=""/>
				<div class="tooltip">你还说喜欢吃</div>
            </li>
            <li><img src="/assets/image12.jpg" alt=""/>
				<div class="tooltip">我想</div>
            </li>
			<li>
				<img src="/assets/image13.jpg" alt=""/>
				<div class="tooltip">会学做你想吃的每一道菜</div>
			</li>
            <li><img src="/assets/image14.jpg" alt=""/>
				<div class="tooltip">这样</div>
            </li>
            <li><img src="/assets/image15.jpg" alt=""/>
				<div class="tooltip">你就离不开我</div>
            </li>
			<li>
				<img src="/assets/image16.jpg" alt=""/>
				<div class="tooltip">而别人</div>
			</li>
            <li><img src="/assets/image17.jpg" alt=""/>
				<div class="tooltip">永远代替不了我,o(∩∩)o...哈哈</div>
            </li>
            <li><img src="/assets/image18.jpg" alt=""/>
				<div class="tooltip">你倾我一生容颜</div>
            </li>
            <li><img src="/assets/image19.jpg" alt=""/>
				<div class="tooltip">我许你万世承诺</div>
            </li>
		</ul>
	</div>
</div>



