
<script type="text/javascript">
  $(function(){
      $("#second").hide();
      $("#first").hide();
      $("#third").hide();
      $("#first").show(3000);
      $("#first").eq(0).animate({height:'800px'
},5000);
      //停留3秒后隐藏，并显示下一个动画
      $("#first").delay(3000).hide(4000,function(){
        $("#second").show(3000);
        $("#second").eq(0).animate({height:'800px'
          },5000);

        $("#second").delay(3000).hide(4000,function(){
          $("#third").show(3000);
          $("#third").eq(0).animate({height:'800px'
            },5000);
          });
        });
      //停留3秒后隐藏，并显示下一个动画

      });
</script>

<div class="timeline" id="first">

<div style="font-size:40px;top:10px;">我们的命运,是这样的:</div>
  <div class="timeline-date">
    <ul>
      <h2 class="second" style="position: relative;">
        <span>XXXX年</span>
      </h2>
      <li>
      <h3>xx.xx<span>XXXX</span></h3>
      <dl class="right">
        <span>童鞋甲:&nbsp;听过小敏同学?</span>
      </dl>
      </li>
      <li>
      <h3>xx.xx<span>XXXX</span></h3>
      <dl class="right">
        <span>童鞋乙:&nbsp;那个大美女?</span>
      </dl>
      </li>

      <li>
      <h3>xx.xx<span>XXXX</span></h3>
      <dl class="right">
        <span>童鞋甲:&nbsp;对呀，我喜欢她</span>
      </dl>
      </li>

      <li>
      <h3>xx.xx<span>XXXX</span></h3>
      <dl class="right">
        <span>童鞋乙:&nbsp;起开，她是我的!</span>
      </dl>
      </li>

      <li>
      <h3>xx.xx<span>XXXX</span></h3>
      <dl class="right">
        <span>童鞋甲:&nbsp;我的&nbsp;!!怒&nbsp;~z~Z</span>
      </dl>
      </li>

      <li>
      <h3>xx.xx<span>XXXX</span></h3>
      <dl class="right">
        <span>我:&nbsp;你们会做饭么?</span>
      </dl>


      </li>
      <li>
      <h3>xx.xx<span>XXXX</span></h3>
      <dl class="right">
        <span>会逗她开心?</span>
      </dl>
      </li>

      </li>
      <li>
      <h3>xx.xx<span>XXXX</span></h3>
      <dl class="right">
        <span>会挑鱼刺么?</span>
      </dl>
      </li>

    </ul>
  </div>

</div>

<div class="timeline" id="second">
  <div class="timeline-date">
    <ul>
      <h2 class="second" style="position: relative;">
        <span>XXXX年</span>
      </h2>
      <li>
      <h3>xx.xx<span>xxxx</span></h3>
      <dl class="right">
        <span>甲,乙(沮丧):&nbsp;不会。。。</span>
      </dl>
      </li>
      <li>
      <h3>xx.xx<span>xxxx</span></h3>
      <dl class="right">
        <span>我:&nbsp;那还不赶紧滚!!!</span>
      </dl>
      </li>
      <li>
      <h3>xx.xx<span>xxxx</span></h3>
      <dl class="right2">
        <img src="/assets/dese.gif" height="60"style="margin-left:40px;">
      </dl>
      </li>
    </ul>
  </div>

  <div class="timeline-date">
    <ul>
      <h2 class="second" style="position: relative;">
        <span>2014年</span>
      </h2>
      <li>
      <h3>12.27<span>2014</span></h3>
      <dl class="right">
        <span>我:&nbsp;美女，我帮你吹头发</span>
      </dl>
      </li>
      <li>
      <h3>12.27<span>2014</span></h3>
      <dl class="right">
        <span>我:&nbsp;怎样?</span>
      </dl>
      </li>
      <li>
      <h3>12.27<span>2014</span></h3>

      <dl class="right">
        <span>M:&nbsp;好呀。</span>
      </dl>

      </li>
    </ul>
  </div>
</div>

<div class="timeline" id="third">

  <div class="timeline-date">
    <ul>
      <h2 class="second" style="position: relative;">
        <span>2015年</span>
      </h2>
      <li>
      <h3>01.01<span>2015</span></h3>
      <dl class="right">
        <span>我:&nbsp;当我女朋友好么?</span>
      </dl>
      </li>
      <li>
      <h3>01.01<span>2015</span></h3>
      <dl class="right">
        <span>M:&nbsp;好呀。</span>
      </dl>
      </li>

      <li>
      <h3>01.01<span>2015</span></h3>
      <dl class="right">
        <span>这样,相识,相知,相爱</span>
      </dl>
      </li>
      <li>
      <h3>01.01<span>2015</span></h3>
      <dl class="right">
        <span>我希望这样一直</span>
      </dl>
      </li>
      <li>
      <h3>01.01<span>2015</span></h3>
      <dl class="right">
        <span>走下去。。。</span>
      </dl>
      </li>
    </ul>
  </div>

  <div class="timeline-date">
    <ul>
      <h2 class="second" style="position: relative;">
        <span>NNNN年</span>
      </h2>
      <li>
      <h3>nn.nn<span>NNNN</span></h3>
      <dl class="right">
        <span>我:&nbsp;老太婆,你走不动</span>
      </dl>
      </li>
      <li>
      <h3>nn.nn<span>NNNN</span></h3>
      <dl class="right">
        <span>我:&nbsp;我来背你</span>
      </dl>
      </li>

      <li>
      <h3>nn.nn<span>NNNN</span></h3>
      <dl class="right">
        <span>M:&nbsp;好呀,慢点,别摔着我</span>
      </dl>
      </li>

      <li>
      <h3>nn.nn<span>NNNN</span></h3>
      <dl class="right">
        <span>未完,待续............</span>
      </dl>
      </li>
    </ul>
  </div>
</div>


<div class="btnbg">
  <a href="/qiu"style="color:red;"><img src="/assets/rose.gif" width=80 height=60></img></a>
</div>



