body {
    padding:0;
    margin:0;
    overflow:hidden;
	height: 600px;
}
canvas {
    padding:0;
    margin:0;
}
.btnbg {
  position:fixed;
  float:right;
  top:30px;
  font-size:30px;
}
.main{
  position:fixed;
  top:0;
  left:50%;
}
.color{
  position:fixed;
  top:0;
  margin:0px auto; 
}
.showtime{
  top:0;
  position:fixed;
  color: red;
}
#showmini{
  top:60px;
  position:fixed;
  color: red;
  font-size: 30px;
}
.timeline{
  position:fixed;
  top:60px;
  margin-left: 200px;
  margin-right: auto;
}
.timeline2{
  position:fixed;
  top:0px;
  margin-left: 400px;
  margin-right: auto;
}
.bottom{
  position:fixed;
  top: 900px;
  margin-left: 0px;
  margin-right: auto;
}

